@media (width: 900px) {
    header {
      margin-top: 5rem;
    }
  
    .sale__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .musthave__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  
    .news__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .brands__container {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .instagram__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__bar {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .copyright {
      text-align: center;
    }
  
    .footer__form {
      justify-content: center;
    }
  }
  
  @media (width: 600px) {
    .nav__links {
      display: none;
    }
  
    header {
      margin-top: 0;
    }
  
    .header__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .header__image {
      display: none;
    }
  
    .sale__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .musthave__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .news__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .brands__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
